body{
    background-color: blue;
    color: green;
    font-family: Arial, sans-serif;
}
header{
    background-color: blueviolet;
    color: firebrick;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
   
}

h2 {
    color: #6b2d5c;

}

p {
    font-size: 18px;
    line-height: 1.6;

}

nav {
     margin-top: 20px;

}

nav a {
    color: white;
    text-decoration: none;
    
}
button {
background-color: darkblue;
color:darkred;
border: none;
padding: 10px 15px;
border-radius: 8px;
cursor: pointer;

}

button:hover {
background-color:limegreen;

}

.curtir {
display: block;
width: fit-content;
margin: 20px auto;

}